.largeText {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

    span {
      font-size: 60px;
      font-weight: 600;
      font-family: "Poppins";
      font-weight: 400;
      line-height: 90%;
      letter-spacing: -0.3rem;
    }
  }