.overlayFullScreen {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .animatableSquare {
        width: 300px;
        height: 310px;
        overflow: hidden;
        transform: rotate(180deg);
        .animatableRow {
            border: 1px solid white;
            height: 60px;
            display: flex;
            .small {
                height: 58px;
                border: 1px solid white;
                width: 25%;
            }
            .animatableBrick {
                height: 58px;
                border: 1px solid white;
                width: 200px;
                color: white;
            }
        }
    }

  }