.arrowWrapper {
  width: calc(30% - 15px);
    .arrowDown {
      display: flex;
      flex-direction: column;

      .leftSide {
        transform: rotate(45deg);
        margin-left: 33px;
        margin-bottom: 4.5px;
        height: 2px;
        width: 20px;
        border-radius: 2px;
        background-color: #fff;
      }

      .middlePart {
        height: 2px;
        width: 50px;
        border-radius: 2px;
        background-color: #fff;
      }

      .rightSide {
        margin-left: 33px;
        margin-top: 4.5px;
        transform: rotate(-45deg);
        height: 2px;
        width: 20px;
        border-radius: 2px;
        background-color: #fff;
      }
    }
  }