@import "../../breakpoints.scss";

.heroBody {
  background: #0e0e0e1a;
  padding: 20px;
  display: flex;
  flex-direction: row;
  @include media('>desktop') {
    margin-top: 200px;
  }
  .columnLeft {
    width: 50%;
    & > div {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }

  }
}