@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "./breakpoints.scss";
$palered: rgb(230, 84, 84);




.App {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  font-family: 'Poppins', sans-serif;



  .heroBodyContent {
    position: absolute;
    // max-width: 100%;
    margin: 0 auto;
    padding: 0 100px;
  }
}

// NAVIGATION

.largeScreen {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    max-width: 150px;
    height: 75px;
    object-fit: contain;
  }

  @media (max-width: 991.98px) {
    .largeScreen {
      display: none;
    }
  }
}

.mobile {
  display: none;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.navigationLinks {
  ul {
    display: flex;
    flex-direction: row;

    li {
      list-style: none;
      margin-right: 40px;
    }
  }

  margin-right: 100px;
}

.flexibleSpace {
  display: flex;
  width: 100%;
}

.drawerMenuToggle {
  display: flex;
  justify-content: center;
  flex-direction: column;

  span {
    display: block;
    width: 24px;
    margin-bottom: 8px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
  }

  .top {
    margin-left: 5px;
  }

  .bottom {
    margin-bottom: 0px;
  }
}

// ROW
