$palered: rgb(230, 84, 84);

.mainInfo {
  .mainInfoRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    .mainInfoRowItem {
      display: flex;
      flex-direction: column;
      margin-right: 25px;

      .smallerText {
        display: flex;
        flex-direction: column;

        span {
          font-family: futura-pt, sans-serif;
          font-weight: 300;
          font-style: italic;
        }
      }

      .mainInfoLargeText {
        font-size: 2.5rem;
        color: $palered;
        margin-bottom: 10px;
        font-weight: 500;
      }
    }
  }

  .mainInfoRow {
    .mainInfoText {
      width: 80%;
      line-height: 2rem;
      margin-right: 50px;
    }
  }
}